.w100 { width: 100%; }
.h100 { height: 100%; }

.bsbb { box-sizing: border-box; }

.df { display: flex; }
.dib { display: inline-block; }
.dif { display: inline-flex; }
.dt { display: table; }
.dtc { display: table-cell; }
.db { display: block; }

.tac { text-align: center; }
.vam { vertical-align: middle; }

.pf { position: fixed; }
.pa { position: absolute; }
.pr { position: relative; }
.l0 { left: 0; }
.r0 { right: 0; }
.t0 { top: 0; }
.b0 { bottom: 0; }

.ofh { overflow: hidden; }

.circle { border-radius: 100%; }

.z1 { z-index: 1; }
.z2	{ z-index: 2; }
.z3 { z-index: 3; }
.z-m { z-index: 99; }

.bg-white { background-color: #ffffff; }
.bg-semi { background-color: rgba(0, 0, 0, .5); }
.bg-transparent { background-color: rgba(0, 0, 0, 0); }
.bg-black { background-color: #000000; }
.bg-inherit { background-color: inherit; }

.c-white { color: #ffffff; }
.c-black { color: #000000; }
.c-inherit { color: inherit; }

.vc:after { display: inline-block; content: ''; vertical-align: middle; height: 100%; }

.cfx:after { display: block; content: ''; clear: both; visibility: hidden; }
.fl { float: left; }
.fr { float: right; }

.tc { text-align: center; }