@import './vars.css';
* { font-family: '微软雅黑';  }
html { color: var(--color-main); }
html, body, div, p, pre, ul, dl, header, footer, main, form, article, h1, h2, h3, h4, h5, h6, figure
{ margin: 0; padding: 0; }
html, body, .page { width: 100%; height: 100%; overflow: hidden; background-color: var(--back-main); }

a { color: var(--color-main); text-decoration: none; }